body {
    margin: 0;
    padding: 0;
}

.block {
    padding: 50px 20% 50px;
    display: flex;
}

.text {
    width: 50%;
    height: 50vh;
    padding: 50px;
    font-family: 'Times New Roman', Georgia, serif;
}

.text h1,
.h2 {
    text-align: center;
    letter-spacing: 5px;
}

.photo img {
    opacity: 0.7;
    width: 100%;
    border-radius: 5px;
}

.photo {
    width: 50%;
    height: 50vh;

}